---
layout: datatables
menu: i18n
level1: tutorials
level2:
  url: i18n
  name: I18n
level3:
  url: internationalization
  name: Internationalization
---

<h2 class="page-title">Internationalization</h2>

<h3 class="section-title">Preamble</h3>
<p>
   Since the v0.9.0, Dandelion-Datatables has now full support for internationalization of column titles and surrounding information. Note that a support is also provided with
   <a href="integration-with-other-projects.html">other projects</a>.
</p>

<h3 class="section-title">Translating DataTables' information</h3>
<p>
   All the i18n configuration takes place in the <i>datatables.properties</i> file. Lots of keys exist and allow you to configure the language information displayed by DataTables. You can see the <a href="/datatables/docs/ref/configuration/#i18nconfiguration">full reference here</a>.
</p>
<p>
   In order to support other languages, you can add any number of additional files named <i>datatables_LANGUAGE.properties</i> in the same place as the main <i>datatables.properties</i> file. For
   example, if your application needs to support both English and French, you could have the following files:
   <ul>
      <li>
         <i>datatables.properties</i>: the main configuration file, containing non-translatable properties
<pre class="prettyprint">
global.css.class=table table-striped table-bordered table-condensed
global.extra.theme=bootstrap2
</pre>      
      </li>
      <li>
         <i>datatables_EN.properties</i>: the file containing all english translations 
<pre class="prettyprint">
global.msg.processing=Processing...
global.msg.search=Search :
global.msg.info=Showing _START_ to _END_ of _TOTAL_ entries
</pre>
         </li>
      <li>
         <i>datatables_FR.properties</i>: the file containing all french translations 
<pre class="prettyprint">
global.msg.processing=Traitement en cours...
global.msg.search=Rechercher :
global.msg.info=Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments
</pre>
      </li>
   </ul>
</p>
<p>
   Keep in mind you don't need to copy all the properties in all internationalized files because lots of them are also just "configuration properties"
   which don't need to be translated at all.
</p>

<div class="alert alert-info">
   <strong><i class="icon-info-sign icon-2x"></i></strong> Note that:
   <ul>
      <li>all properties can contain HTML tags (i.e. you can include images etc. if you so wish in them)</li>
      <li>The <code>_START_</code>, <code>_END_</code> and <code>_TOTAL_</code> variables are all dynamically replaced as the table display updates, and can be freely moved or removed as the language requirements change</li>
   </ul>
</div>

<h3 class="section-title" id="tch">Translating column headers</h3>
<p>
   It behaves in different ways depending on the template engine used in your application.
</p>

<h4>Using JSP</h4>
<p>
   Dandelion-Datatables uses the following algorithm to define the content of a column header:
   <ol>
      <li>The {% refjsp dt column title %} column attribute has precedence over any other attribute. The content of this attribute will be always used in the column header, wether it's empty or not.</li>
      <li>If the {% refjsp dt column title %} column attribute is not used and if the {% refjsp dt column titleKey %} column attribute is used and not empty, the content of the {% refjsp dt column titleKey %} attribute will be used to lookup a resource in the resource bundle. If the key cannot be found in the bundle, the <strong>???key???</strong>
         message will be displayed in the column header.
      </li>
      <li>
         At this point, if no message is found, the {% refjsp dt column property %} column attribute will be used (as text) and capitalized to fill in the column header.
      </li>
      <li>
         Finally, in no {% refjsp dt column property %} column attribute is used (which can happen if you use the {% refjsp dt table row %} table attribute to define the table's columns), the column header will remain empty.
      </li>
</ol>
</p>
<br />
<p>
   Here is an usage example of the {% refjsp dt column titleKey %} column attribute:
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column titleKey="table.header.id" property="id" />
   &lt;datatables:column titleKey="table.header.firstname" property="firstName" />
   &lt;datatables:column titleKey="table.header.lastname" property="lastName" />
   &lt;datatables:column titleKey="table.header.city" property="address.town.name" />
   &lt;datatables:column titleKey="table.header.mail" property="mail" />
&lt;/datatables:table>
</pre>

<h4>Using Thymeleaf</h4>
<p>
   Just use the Thymeleaf i18n internal mechanism, with the <code>#{...}</code> syntax:
</p>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th th:text="#{table.header.id}">Id&lt;/th>
         &lt;th th:text="#{table.header.firstname}">Firstname&lt;/th>
         &lt;th th:text="#{table.header.lastname}">Lastname&lt;/th>
         &lt;th th:text="#{table.header.city}">City&lt;/th>
         &lt;th th:text="#{table.header.mail}">Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   ...
&lt;/table>
</pre>

<h3 class="section-title" id="lamdr">Locale and message default resolution</h3>
<p>
   By default, Dandelion-Datatables uses the {% javadoc dt datatables-core StandardLocaleResolver %} to resolve the locale from the
   <code>HttpServletRequest</code>
   , i.e. from your browser. But if you need to override this behaviour, you can in two ways:
   <ul>
      <li>
         using one of the ready-to-use implementations of the {% javadoc dt datatables-core LocaleResolver %} interface: <a href="integration-with-other-projects.html">see this section for more
            details</a>
      </li>
      <li>
         pluging a custom implementation of the {% javadoc dt datatables-core LocaleResolver %} interface: <a href="pluging-a-custom-localeresolver.html">see here for more details</a>
      </li>
   </ul>
</p>
<p>
   Regarding the message resolution, note that the {% javadoc dt datatables-jsp JstlMessageResolver %} will be automatically enabled if the JSTL JAR is detected in the classpath and if no
   <code>i18n.message.resolver</code>
   property is used in your custom configuration file. This means that content of {% refjsp dt column titleKey %} attributes will be evaluated in the same way as for the
   <code>&lt;fmt:message&gt;</code> JSTL tag. You can override this in two ways as well:
   <ul>
      <li>using one of the ready-to-use implementations of the {% javadoc dt datatables-core MessageResolver %} interface: <a href="integration-with-other-projects.html">see this section for more
            details</a>
      </li>
      <li>
         pluging your own implementation of the {% javadoc dt datatables-core MessageResolver %} interface: <a href="pluging-a-custom-messageresolver.html">see this section for more details</a>
      </li>
   </ul>
</p>

<h3 class="section-title" id="pwcg">Playing with configuration groups</h3>
<p>
   Since i18n properties are located in the configuration file and since those properties are groupable, you can well imagine making several
   <a href="/datatables/features/configuration/configuration-groups.html">configuration groups</a>.
</p>
<p>For example, let's say your site can display different types of table in multiple languages. You could have the following configuration files:
   <ul>
      <li>
         <i>datatables.properties</i>: the main configuration file, containing non-translatable properties
<pre class="prettyprint">
global.css.class=table table-striped table-bordered table-condensed
global.extra.theme=bootstrap2
</pre>      
      </li>
      <li>
         <i>datatables_EN.properties</i>: 
<pre class="prettyprint">
global.msg.processing=Processing...
global.msg.search=Search :
global.msg.info=Showing _START_ to _END_ of _TOTAL_ entries

group1.msg.processing=Processing...
group1.msg.search=Search for the dogs:
group1.msg.info=Showing _START_ to _END_ of _TOTAL_ dogs

group2.msg.processing=Processing...
group2.msg.search=Search for the cats:
group2.msg.info=Showing _START_ to _END_ of _TOTAL_ cats
</pre>
         </li>
      <li>
         <i>datatables_FR.properties</i>: 
<pre class="prettyprint">
global.msg.processing=Traitement en cours...
global.msg.search=Rechercher :
global.msg.info=Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments

group1.msg.processing=Processing...
group1.msg.search=Rechercher des chiens:
group1.msg.info=Affichage du chien _START_ à _END_ sur _TOTAL_ chiens

group2.msg.processing=Processing...
group2.msg.search=Rechercher des chats:
group2.msg.info=Affichage du chat _START_ à _END_ of _TOTAL_ chats
</pre>
      </li>
   </ul>
</p>