<h3 class="section-title" id="eae">Activating export</h3>
<h4>Using JSP</h4>
<p>
   To activate the export, just set the {% refjsp dt table export %} table attribute to <code>csv</code> or whatever format you need. An export link will be generated (defaults to top right of the table).
</p>
<p>
   You can of course set multiple formats, just use a comma as a separator.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" row="person" export="csv,pdf">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail">
      &lt;a href="mailto:${person.mail}">${person.mail}&lt;/a>
   &lt;/datatables:column>
&lt;/datatables:table>
</pre>

<h4>Using Thymeleaf</h4>
<p>
   With Thymeleaf, use the {% reftl dt table export %} table attribute in the same manner.
</p>
<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:export="csv,pdf">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address.town.name}">Nobody knows!&lt;/td>
         &lt;td>&lt;a th:href="${'mailto:' + person.mail}" th:text="${person.mail}">john@doe.com&lt;/a>&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>

<p class="alert alert-info">
   <strong><i class="fa fa-info-circle fa-2x"></i></strong>&nbsp;
   Note that by default, export links are a bit ugly. Indeed,
   Dandelion-Datatables generates unstyled links by default in order to
   be as flexible as possible but you can of course
   <a href="customizing-export-links.html">adapt the links</a> to fit
   your needs.
</p>
