---
layout: datatables
menu: export
level1: tutorials
level2:
  url: export
  name: Export
level3:
  url: customizing-export-content
  name: Customizing export content
---

<h2 class="page-title">Customizing export content</h2>

<h3 class="section-title">Preamble</h3>
<p>
   It happens that some of your columns contain HTML code that you don\'t want to be rendered in the export (e.g. an \"Action\" column with some links).
   By default, all column are exported but it could be useful to remove some column or just adapt its content only for exports.
   
   In this regards, **Dandelion-Datatables** allows you to adapt export's content.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   This is done thanks to the {% refjsp dt column display %} column attribute. The authorized values are : <code>csv</code>, <code>xml</code>, <code>xls</code>, <code>xlsx</code> and <code>pdf</code>, i.e. all authorized export types plus <code>html</code>.
</p>
<p>
   So, for instance, setting the {% refjsp dt column display %} attribute to <code>html</code> means that the corresponding column will only appear in your web page (html), not in in the export file.
   This way, you can adapt the content of each export file.
</p> 
<p>
   In the following example, we don't want HTML code to be displayed in the exported <strong>Mail</strong> column. 
   That's why a second <strong>"Mail"</strong> column is added with the {% refjsp dt column display %} attribute set to <code>csv,xls</code> (i.e. not <code>html</code>) and with just the bean's property inside (thanks to the {% refjsp dt column property %} attribute).
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" row="person" export="csv,xls">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" display="html" />
   &lt;datatables:column title="Mail" display="html">
      &lt;a href="mailto:${person.mail}">${person.mail}&lt;/a>
   &lt;/datatables:column>
   &lt;datatables:column title="Mail" property="mail" display="csv,xls" />
   &lt;datatables:export type="xls" includeHeader="true" fileName="my-export-name" cssClass="btn" label="xls" />
&lt;/datatables:table>
</pre>

<h3 class="section-title">Using Thymeleaf</h3>
<p>
   Using Thymeleaf, just use the {% reftl dt td dt:csv %} (or{% reftl dt td dt:* %}) TD attribute to adapt the cell's content in the corresponding format.
</p>
<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:export="pdf,xls,csv">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address != null and person.address.town != null} ? ${person.address.town.name} : ''">Nobody knows !&lt;/td>
         &lt;td dt:csv="'csv'+${person.mail}" dt:xls="'xls'+${person.mail}">
            &lt;a th:href="${'mailto:' + person.mail}" th:text="${person.mail}">john@doe.com&lt;/a>
         &lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>

<h3 class="section-title">Using your own export class</h3>
<p>
   Another possibility is use your own export class. Indeed, the above example are based on the notion that the export classes configured by default are used.
</p>
<p>
   These classes just display the data as configured in the view, without any additional formatting but you could easily format your data in a customized export class.
</p>
<p>
   See <a href="configuring-export-classes#wyoec.html">this tutorial</a> to find out how to proceed.
</p>