---
layout: datatables
menu: basics
level1:
   url: features
   name: Features
level2: 
   url: basics
   name: Basic usage
level3:
   url: changing-display-length.html
   name: Changing display length
---
<h2 class="page-title">Changing display length</h2>

<h3 class="section-title">Preamble</h3>
<p>
   By default, Datatables displays only 10 rows. We'll see in this tutorial how to to change this.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   You can use the {% refjsp dt table displayLength %} table attribute.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" displayLength="40">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>

<h3 class="section-title">Using Thymeleaf</h3>
<p>
   With Thymeleaf, you can use the {% reftl dt table dt:displayLength %} table attribute.
</p>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true" dt:displaylength="40">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address != null and person.address.town != null} ? ${person.address.town.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
  &lt;/tbody>
&lt;/table>
</pre>