---
layout: datatables
menu: basics
level1:
   url: features
   name: Features
level2: 
   url: basics
   name: Basic usage
level3:
   url: scrolling.html
   name: Scrolling
---
<h2 class="page-title">Scrolling</h2>
<p>
   You may need to allow horizontal or vertical scrolling, e.g. when you have a wide table, with a large
   number of rows and/or columns to display. Let's see in this tutorial how to proceed.
</p>

<h3 class="section-title" id="vs">Vertical scrolling</h3>
<h4>Using JSP</h4>
<p>
   You can use the {% refjsp dt table scrollY %} table attribute.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" scrollY="200px" paginate="false">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>
<p>
   Note that disabling table pagination is not mandatory, it will work just fine with pagination enabled as well!
</p>

<h4>Using JSP</h4>
<p>
   You can use the {% reftl dt table dt:scrolly %} table attribute.
</p>
<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:scrolly="'200px'" dt:paginate="false">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address != null and person.address.town != null} ? ${person.address.town.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>
</p>

<h3 class="section-title" id="hs">Horizontal scrolling</h3>
<h4>Using JSP</h4>
<p>
   You can use the {% refjsp dt table scrollX %} table attribute.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" scrollX="120%">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" filterable="true" />
   &lt;datatables:column title="Mail" property="mail" filterable="true" />
&lt;/datatables:table>
</pre>


<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:scrollx="'120%'">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address != null and person.address.town != null} ? ${person.address.town.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>
