---
layout: datatables
menu: export
level1: tutorials
level2:
  url: export
  name: Export
level3:
  url: filter-based-exports
  name: Filter-based exports
---
<h2 class="page-title">Filter-based exports</h2>
<p>The export feature was initially designed to work with a servlet
   filter. The principle is simple: once you click on an export link,
   the configured servlet filter intercepts the request, retrieves the
   table and renders it in the chosen format instead of displaying
   it in a view. 
</p>
<p>
   This is the fastest way to make exports work. But in return, you
   won't be able to customize a lot the output file. For example, all data will be
   rendered, whether the table is paged or not. The same applies for filtering and sorting.
</p>
<p>
   Here follows the guide to set up the filter.   
</p>

<h3 class="section-title" id="sutsf">Setting up the servlet filter</h3>
<p>
   You just need to declare the Datatables servlet filter in your <code>web.xml</code> file as follows:
</p>
<pre class="prettyprint">
&lt;!-- Dandelion-Datatables filter used for basic export -->
&lt;filter>
   &lt;filter-name>datatables&lt;/filter-name>
   &lt;filter-class>com.github.dandelion.datatables.core.web.filter.DatatablesFilter&lt;/filter-class>
&lt;/filter>
&lt;filter-mapping>
   &lt;filter-name>datatables&lt;/filter-name>
   &lt;url-pattern>/*&lt;/url-pattern>
&lt;/filter-mapping> 
</pre>

<p class="alert alert-warn">
   <strong><i class="fa fa-warning fa-2x"></i></strong> Ensure to
   declare the Datatables servlet filter
   <strong>after any other filter</strong> that is used to encode your
   data, as the typical
   <strong>org.springframework.web.filter.CharacterEncodingFilter</strong>
</p>
<p>
   Once the servlet filter configured, you have to enable export locally, in your table. 
</p>

{% include datatables/export/activating-export.html %}

<h3 class="section-title" id="sutsf">Customizing the export content</h3>
<p>
   Even if filter-based exports provides less flexibility than
   <a href="/datatables/features/export/controller-based-exports.html">controller-based</a>
   ones, Dandelion-Datatables has some options allowing you to configure
   the export content just by using either the JSP taglib or the
   Thymeleaf dialect.
</p>

<h4>Using JSP</h4>
<p>
   This is done thanks to the {% refjsp dt column display %} column
   attribute. Just precise in this attribute in what format you want the
   corresponding content to appear. The format(s) you will precise must
   match with these set in the {% refjsp dt table export %} attribute.
</p>
<p>
   For instance, setting the {% refjsp dt column display %} attribute to
   <code>html</code>
   means that the corresponding column will only appear in the HTML
   source code, not in the export file.
</p> 
<p>
   In the following example, we don't want HTML code to be displayed in
   the exported
   <strong>Mail</strong> column. That's why a second "Mail" column is
   added with the {% refjsp dt column display %} attribute set to
   <code>csv,xls</code>
   (i.e. not
   <code>html</code>
   ) and with just the bean's property inside (thanks to the {% refjsp dt column property %} attribute).
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" row="person" export="csv,xls">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" display="html" />
   &lt;datatables:column title="Mail" display="html">
      &lt;a href="mailto:${person.mail}">${person.mail}&lt;/a>
   &lt;/datatables:column>
   &lt;datatables:column title="Mail" property="mail" display="csv,xls" />
   &lt;datatables:export type="xls" includeHeader="true" fileName="my-export-name" cssClass="btn" label="xls" />
&lt;/datatables:table>
</pre>

<h4>Using Thymeleaf</h4>
<p>
   Using Thymeleaf, just use the {% reftl dt td csv %} (or <code>dt:*</code>) TD attribute to adapt the cell's content in the corresponding format.
</p>
<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:export="pdf,xls,csv">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person?.id}">1&lt;/td>
         &lt;td th:text="${person?.firstName}">John&lt;/td>
         &lt;td th:text="${person?.lastName}">Doe&lt;/td>
         &lt;td th:text="${person?.address?.town?.name}">Nobody knows!&lt;/td>
         &lt;td dt:csv="${person?.mail}" dt:xls="${person?.mail}">
            &lt;a th:href="${'mailto:' + person?.mail}" th:text="${person?.mail}">john@doe.com&lt;/a>
         &lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>

<h3 class="section-title" id="ueo">Using export options</h3>
<p>
   Finally, some extra options are available in order to configure the export.
</p>
<p>
   Using JSP, all options can be passed in the {% refjsp dt export %} tag.
</p>
<p>
   Using Thymeleaf, you'll have to use the
   <a href="/datatables/features/advanced/configuration-div.html">configuration
      div</a> introduced in the v0.10.0.
</p>
<table class="table table-striped table-hover">
   <thead>
      <tr>
         <th>Option</th>
         <th>Description</th>
         <th>JSP</th>
         <th>Thymeleaf</th>
         <th>Compatible formats</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>File name</td>
         <td>Name of the export file (without extension)</td>
         <td><code>&lt;datatables:export ... fileName="my-export-file" /&gt;</code></td>
         <td><code>&lt;div dt:confType="export" dt:fileName="my-export-file"&gt;&lt;/div&gt;</code></td>
         <td>CSV, XML, PDF, XLS, XLSX</td>
      </tr>
      <tr>
         <td>File extension</td>
         <td>Extension of export file</td>
         <td><code>&lt;datatables:export ... fileExtension="xls" /&gt;</code></td>
         <td><code>&lt;div dt:confType="export" dt:fileExtension="xls"&gt;&lt;/div&gt;</code></td>
         <td>CSV, XML, PDF, XLS, XLSX</td>
      </tr>
      <tr>
         <td>Include header</td>
         <td>Display/hide the column headers in the export file</td>
         <td><code>&lt;datatables:export ... includeHeader="true" /&gt;</code></td>
         <td><code>&lt;div dt:confType="export" dt:includeHeader="true"&gt;&lt;/div&gt;</code></td>
         <td>CSV, PDF, XLS, XLSX</td>
      </tr>
      <tr>
         <td>Orientation</td>
         <td>Orientation of the PDF export file</td>
         <td><code>&lt;datatables:export ... orientation="landscape" /&gt;</code></td>
         <td><code>&lt;div dt:confType="export" dt:orientation="landscape"&gt;&lt;/div&gt;</code></td>
         <td>PDF</td>
      </tr>
      <tr>
         <td>Autosize</td>
         <td>Automatically adapt the cells size according to their content</td>
         <td><code>&lt;datatables:export ... autoSize="true" /&gt;</code></td>
         <td><code>&lt;div dt:confType="export" dt:autoSize="true"&gt;&lt;/div&gt;</code></td>
         <td>XLS, XLSX</td>
      </tr>   
   </tbody>
</table>
