<div class="container-fluid area-share">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="addthis_toolbox addthis_default_style text-center">
          <a class="addthis_button_twitter_follow_native" tw:screen_name="dandelion_proj"></a> <a
            class="addthis_button_tweet"></a> <a class="addthis_button_google_plusone"
            g:plusone:size="medium"></a> <a class="addthis_counter addthis_pill_style"></a>
        </p>
      </div>
    </div>
  </div>
</div>
