<div class="container-fluid dandelion-jumbotron">
  <div class="row">
    <div id="dandelion-logo" class="col-md-12 dandelion-logo">
    </div>
  </div>
</div>
<div class="container-fluid dandelion-jumbotron">
  <div class="container">
    <div class="row margin-top-10">
      <blockquote>
        <p>
          <strong>Dandelion</strong> is a free and Open Source Java framework aimed at making web
          development simpler in JVM-based environments.
        </p>
        <p>It helps to manipulate the web assets (JS, CSS) in different ways: assets organization in a bundle graph and
          classical optimizations like minification, compression or caching.
        </p>
        <p>It also facilitates the integration of powerful JavaScript libraries thanks to a set of extensible
          components.
        <p>
      </blockquote>
      
      <p class="addthis_toolbox addthis_default_style text-center">
          <a class="addthis_button_twitter_follow_native" tw:screen_name="dandelion_proj"></a> <a
            class="addthis_button_tweet"></a> <a class="addthis_button_google_plusone"
            g:plusone:size="medium"></a> <a class="addthis_counter addthis_pill_style"></a>
        </p>
    </div>
  </div>
</div>
