---
layout: datatables
menu: configuration
level1: features
level2:
  url: configuration
  name: Configuration
level3:
  url: overrideconf
  name: Overloading default configuration
---
<h2 class="page-title">Overloading default configuration</h2>
<p>
   By default, <strong>Dandelion-Datatables</strong> internally uses a properties file, containing some configuration properties.
</p>
<p>
   But you can of course override it in multiple ways:
   
<ul>
   <li>First, you can add a file called <code>datatables.properties</code>
      under the <code>/dandelion/datatables</code> folder, allowing you
      to redefine every property you need. Your custom global
      configuration will then be merged with the default one.
   </li>
   <li>Or you can locally overload properties using the {% refjsp dt prop %} JSP tag or the <a
      href="/datatables/features/advanced/configuration-div.html">Thymeleaf
         configuration div</a>.
   </li>
</ul>
</p>

<h3 class="section-title">Examples</h3>
<h4>Using JSP</h4>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
   &lt;datatables:prop name="some.property" value="true" />
&lt;/datatables:table>
</pre>

<h4>Using Thymeleaf</h4>
<pre class="prettyprint">
&lt;div dt:conf="myTableId">
   &lt;div dt:confType="property" dt:name="some.property" dt:value="true">&lt;/div>
&lt;/div>
      
&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>LastName&lt;/th>
         &lt;th>FirstName&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person?.id}">1&lt;/td>
         &lt;td th:text="${person?.lastName}">Doe&lt;/td>
         &lt;td th:text="${person?.firstName}">John&lt;/td>
         &lt;td th:text="${person?.address?.town?.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person?.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>