---
layout: datatables
menu: basics
level1: features
level2:
  url: basics
  name: Basics
level3:
  url: featurenablement
  name: Feature enablement/disablement
---
<h3>Basics :: Feature enablement/disablement</h3>

Basic features as sorting, paging, filtering, \... can be easily enabled/disabled using the corresponding table attribute.
You can see beelow all the features you can enable/disable setting its value to `true`/`false`:

<table class="table table-striped">
  <thead>
    <tr>
      <th>Feature</th>
      <th>JSP attribute</th>
      <th>Thymeleaf attribute</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Sorting</td>
      <td>sort</td>
      <td>dt:sort</td>
    </tr>
    <tr>
      <td>Filtering (Global top right input field)</td>
      <td>filter</td>
      <td>dt:filter</td>
    </tr>
    <tr>
      <td>Paging</td>
      <td>paginate</td>
      <td>dt:paginate</td>
    </tr>
    <tr>
      <td>Info ("Showing 1 to 10 of 200 entries")</td>
      <td>info</td>
      <td>dt:info</td>
    </tr>
    <tr>
      <td>Length change (top left drop down list)</td>
      <td>lengthChange</td>
      <td>dt:lengthchange</td>
    </tr>
  </tbody>
</table>

Note that those features are by default enabled.

<br />
<h4>Using JSP</h4>
For instance, using JSP, you can set the `sort` table attribute to `false` to disable sorting.

<pre class="prettyprint">&lt;datatables:table id="myTableId" data="${persons}" sort="false">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table></pre>

<br />
<h4>Using Thymeleaf</h4>
Using Thymeleaf, set the `dt:sort` table attribute to `false`.

<pre class="prettyprint">&lt;table id="myTable" dt:table="true" dt:sort="false">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address.town.name}">Nobody knows !&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table></pre>
