---
layout: datatables
menu: basics
level1: features
level2:
  url: basics
  name: Basics
level3:
  url: cdn
  name: Using CDN 
---

<h2 class="page-title">Using a CDN</h2>

<h3 class="section-title">Preamble</h3>
<p>
   When using Javascript libraries such as DataTables you want your
   users to be able to get the software as quickly as possible and one
   way to help achieve this goal is to use a Content Delivery Network
   (CDN). CDNs provide edge servers that are tuned to provide media
   files with very low latency to web-browsers, and as a user receives a
   file from the CDN the browser will cache it for reuse. This means
   that different sites using the same Javascript library can share a
   large performance improvement since the browser does not need to
   download the same file from different servers for each site. 
</p>
<p>
   Dandelion-Datatables allows you to download DataTables' static assets
   using the Microsoft CDN by default but you can of course configure
   it, let's see how.
</p>

<h3 class="section-title">Activating CDN</h3> 
<p>
   You can activate CDN in multiple ways:
</p>
<ul>
   <li>
      Globally in your application, using the <a href="/datatables/docs/ref/configuration/#main-main.cdn"><code>main.cdn</code></a> configuraton property.
   </li>
   <li>Locally in a table, either using the JSP taglib or the Thymeleaf dialect. See the sections below.</li>
</ul>
<p>
   Note that you can also configure the source that will be used to
   retrieve the source of DataTables (Javascript and CSS) using the
   <a href="/datatables/docs/ref/configuration/#main-main.cdn.js"><code>main.cdn.js</code></a>
   and <a
      href="/datatables/docs/ref/configuration/#main-main.cdn.css"><code>main.cdn.css</code></a>
   configuration properties.
</p>

<h3 class="section-title">Using JSP</h3> 
<p>
   Just set the {% refjsp dt table cdn %} table attribute. Set its value to true to enable the feature.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" cdn="true">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>
<p>
   Note that due to the nature of JSP (which works as a sequential text processor), the
   <code>&lt;script&gt;</code>
   and
   <code>&lt;link&gt;</code>
   tags will directly surround the
   <code>&lt;table&gt;</code>
   tag. There's no way to position them in the right place, i.e.
   <code>&lt;link&gt;</code>
   inside the
   <code>&lt;head&gt;</code>
   tag and
   <code>&lt;script&gt;</code>
   before the end of the
   <code>&lt;body&gt;</code>
   tag.
</p>

<h3 class="section-title">Using Thymeleaf</h3> 
<p>
   Just set the {% reftl dt table dt:cdn %} table attribute. Set its value to true to enable the feature.
</p>
<pre class="prettyprint">
&lt;table id="myTable" dt:table="true" dt:cdn="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address.town.name}">Nobody knows !&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>
<p>
   With Thymeleaf, which is based on XML parsing techniques, <code>&lt;script&gt;</code> and <code>&lt;link&gt;</code> can be easily moved inside the template before rendering.
</p>
<p>
   That's why the <code>&lt;link&gt;</code> tag (DataTables' CSS) will be place as a last child of the <code>&lt;head&gt;</code> tag and the <code>&lt;script&gt;</code> (DataTables' Javascript) will be place as a last child of the <code>&lt;body&gt;</code> tag.
</p>

<h3 class="section-title">Some words of caution...</h3>
<ul>
   <li>There's no fall back strategy for now. This feature will be also introduced when the Dandelion's core is released.</li>
   <li>Using this feature, <strong>only DataTables assets are served by a CDN</strong>. All other required assets are either generated server-side by Dandelion-DataTables (DataTables configuration and initialization, DataTables' plugins) or your responsibility (jQuery, jQuery UI, Bootstrap, ...).</li>
</ul>