---
layout: datatables
menu: basics
submenu: sorting
level1: tutorials
level2:
  url: basics
  name: Basics
level3:
  url: sorting
  name: Sorting data
level4:
  url: sorting-direction-control
  name: Sorting direction control
---

<h2 class="page-title">Sorting direction control</h2>

<h3 class="section-title">Preamble</h3>
<p>
   At times you may wish to limit the sorting to a single direction, or you could add complex behaviour to the sorting interaction.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   For this purpose, you can use the {% refjsp dt column sortDirection %} column attribute and set its value to a comma-separated list of <code>asc</code> or <code>desc</code>.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column title="Id" property="id" sortable="false" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" sortDirection="asc" />
   &lt;datatables:column title="Mail" property="mail" sortDirection="desc,asc" />
&lt;/datatables:table>
</pre>

<h3 class="section-title">Using Thymeleaf</h3>
<p>
   With Thymeleaf, you can use the {% reftl dt th dt:sortdir %} th attribute.
</p>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th dt:sortdir="asc">City&lt;/th>
         &lt;th dt:sortdir="desc,asc">Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address.town.name}">Nobody knows !&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>