/***********************************
              BLOG
************************************/

/* tag_box */
.tag_box {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 2px 15px;
	font-size: 13px;
}

.tag_box li {
	line-height: 28px;
}

.tag_box li i {
	opacity: 0.9;
}

.tag_box.inline li {
	float: left;
}

.tag_box li.tag a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}

.tag_box li.tag a span {
	vertical-align: super;
	font-size: 0.8em;
}

.tag_box li.tag a:hover {
	background-color: #e5e5e5;
}

.tag_box li.tag a.active {
	background: #57A957;
	border: 1px solid #4c964d;
	color: #FFF;
}

/** blog images*/
.blog_img {
	text-align: center;
	/*border: 1px solid black;*/
	margin: 10px;
}