/***********************************
              COMPONENT
=> datatables
=> dandelion
=> webanalytics
************************************/
body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

table thead th {
	border-bottom: 0px;
}

h4 {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 10px 0 15px;
	border-bottom: 1px dashed #eeeeee;
}

.release-date {
	float: right;
	color: #626262;
	font-size: 15px;
}

.attribute-na {
	background-color: #c4c4c4;
}

/* Alert customization */
p.alert i.icon-2x {
	padding-right: 10px;
}
/* End Alert customization */

/* Search form customization */
.custom-form-search input {
	height: 16px;
	margin-top: -2px;
}

.custom-form-search button {
	padding: 2px 8px;
	margin-top: -2px;
}
/* End search form customization */
#logo_container {
	width: 331px;
	height: 100px;
	position: relative;
	float: left;
}

#logo_image {
	position: absolute;
	left: 0;
	top: 0;
}

#logo_text {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 24px;
	left: 30px;
	top: 70px;
}
/* End Navbar marketing */
h2.marketing {
	background: url(/assets/images/dandelion/github-dandelion-logo-twitter-50px.png) no-repeat left
		center;
	padding-left: 55px;
	border-bottom: 1px solid #a0cd70;
}

.container-component {
	padding-top: 20px;
	padding-bottom: 20px;
}

.breadcrumb {
	padding: 8px 15px;
	font-size: 13px;
}

.nav-list>.active>a,.nav-list>.active>a:hover,.nav-list>.active>a:focus {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #65c22f;
}

.nav-list .nav-list>.active>a,.nav-list .nav-list>.active>a:hover,.nav-list .nav-list>.active>a:focus
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #74c843;
}

.nav-list .nav-list .nav-list>.active>a,.nav-list .nav-list .nav-list>.active>a:hover,.nav-list .nav-list .nav-list>.active>a:focus
	{
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #83ce58;
}