/***********************************
              MARKETING
=> team
=> faq
************************************/
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #73c730;
}
a {
	/*color: #65c22f;*/
	color: #5aae2a;
}

/* Navbar marketing */
.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
}

.navbar-inner {
	background-image: -moz-linear-gradient(top, #65c22f, #65c22f);
	background-image: -ms-linear-gradient(top, #65c22f, #65c22f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#65c22f), to(#65c22f) );
	background-image: -webkit-linear-gradient(top, #65c22f, #65c22f);
	background-image: -o-linear-gradient(top, #65c22f, #65c22f);
	background-image: linear-gradient(top, #65c22f, #65c22f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65c22f', endColorstr='#65c22f', GradientType=0 );
}

.navbar .brand {
	padding: 8px 20px 0px;
	font-size: 20px;
	color: #ffffff;
}

.navbar .divider-vertical {
	height: 41px;
	background-color: #ffffff;
	border-right: 1px solid #007f00;
}

.navbar .nav>li>a {
	padding: 10px 10px 11px;
	font-size: 14px;
	color: #ffffff;
}

.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus
	{
	color: #ffffff;
}

.navbar .nav>li>a {
	float: none;
	padding: 10px 15px 10px;
	color: #ffffff;
	text-decoration: none;
}

#logo_container {
	width: 331px;
	height: 100px;
	position: relative;
	float: left;
}

#logo_image {
	position: absolute;
	left: 0;
	top: 0;
}

#logo_text {
	z-index: 100;
	position: absolute;
	color: white;
	font-size: 24px;
	left: 30px;
	top: 70px;
}
/* End Navbar marketing */

.container-marketing {
	padding-top: 20px;
	padding-bottom: 20px;
}