/***********************************
         CSS USED SITE-WIDE
************************************/
.page-title {
	background:
		url(/assets/images/dandelion/github-dandelion-logo-twitter-50px.png)
		no-repeat left center;
	padding-left: 55px;
	border-bottom: 1px solid #a0cd70;
	margin-bottom: 25px;
}
a:hover, a:focus {
	text-decoration: underline;
}
/* 2nd level */
.nav-list .nav-list > li > a {
  padding-left: 30px;
  font-size: 12px;
}

.nav-list .nav-list > li > a,
.nav-list .nav-list .nav-header {
  margin-left:  -30px;
  margin-right: -30px;
}
/*
Footer configuration
*/
.area-footer {
	background-color: #5f5f5f;
	color: #d6d6d6;
	margin: 0;
	padding: 27px;
}

footer a {
	color: #00bfff;
}

footer ul {
	list-style-type: none;
}

/* Section configuration*/
.section-title {
	padding-bottom: 5px;
	margin: 10px 0 15px;
	border-bottom: 1px solid #eeeeee;
}
/* End Section configuration*/

/* h3 { */
/* 	margin-top: 0px; */
/* 	margin-bottom: 10px; */
/* 	padding: 7px 20px; */
/* 	background: #f5f5f5; */
/* 	border-radius: 5px; */
/* } */