/***********************************
              HOME PAGE
************************************/
body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
	list-style-type: none;
}

.dandelion-jumbotron {
	background-image: -moz-linear-gradient(top, #65c22f, #5aae2a);
	background-image: -ms-linear-gradient(top, #65c22f, #5aae2a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#65c22f),
		to(#5aae2a) );
	background-image: -webkit-linear-gradient(top, #65c22f, #5aae2a);
	background-image: -o-linear-gradient(top, #65c22f, #5aae2a);
	background-image: linear-gradient(top, #65c22f, #5aae2a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#65c22f',
		endColorstr='#5aae2a', GradientType=0 );
	margin: 0;
	text-align: center;
	padding-bottom: 20px;
	color: white;
}

.dandelion-jumbotron a.btn-large {
	font-size: 30px;
	padding: 21px 35px;
}

.area-component {
	background-color: #ffffff;
	margin: 0;
	padding: 20px;
	height: 200px;
	color: black;
}

.area-social {
	background-color: #ffffff;
	margin: 0;
	padding: 10px;
	color: black;
}

.area-share {
	padding: 22px 0 22px;
	text-align: center;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.area-share h2 {
	line-height: 20px;
}

.version {
	font-size: 17px;
	color: #777777;
}

.incubating {
	font-size: 13px;
}

/* AddThis configuration */
p.addthis_toolbox {
	width: 700px;
	margin: 0 auto;
}
/* End AddThis configuration */