---
layout: datatables
menu: advanced
level1:
   url: features
   name: Features
level2: 
   url: advanced
   name: Advanced usage
level3:
   url: generating-row-ids.html
   name: Generating row IDs
---
<h2 class="page-title">Generating row IDs</h2>
<p>
   Sometimes, it can be useful to add an HTML id to each row (<code>&lt;tr&gt;</code> tags). Sometimes too, the row id
   cannot just be an incremented id but a dynamically builded string, for instance, from a bean's
   attribute. Let's see here how to do that.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   You have 3 table attributes available: {% refjsp dt table rowIdBase %}, {% refjsp dt table rowIdPrefix %} and {% refjsp dt table rowIdSuffix %}.
</p>
<ul>
   <li>{% refjsp dt table rowIdBase %}: This attribute is evaluated as a property of the bean present in the collection being iterated on</li>
   <li>{% refjsp dt table rowIdPrefix %}: String prepended to the {% refjsp dt table rowIdBase %} attribute</li>
   <li>{% refjsp dt table rowIdSufix %}: String appended to the {% refjsp dt table rowIdBase %} attribute</li>
</ul>

<p class="alert alert-warn">
   <strong><i class="fa fa-warning fa-2x"></i></strong> 
   Those table attributes are not compatible with AJAX sources!
</p>

<p>
   In the following example, Dandelion-Datatables will build rows (
   <code>&lt;tr&gt;</code>
   tags inside the
   <code>&lt;body&gt;</code>
   tag) with the following ids: person_1, person_2, ...
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" rowIdBase="id" rowIdPrefix="person_">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>

<h3 class="section-title">Using Thymeleaf</h3>
<p>
   Nothing's specific to Dandelion-Datatables is needed, just the native Thymeleaf <code>th:attr</code> attribute!
</p>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}" th:attr="id=${'person_' + person.id}">
         &lt;td th:text="${person?.id}">1&lt;/td>
         &lt;td th:text="${person?.firstName}">John&lt;/td>
         &lt;td th:text="${person?.lastName}">Doe&lt;/td>
         &lt;td th:text="${person?.address?.town?.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person?.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>