---
layout: datatables
menu: advanced
level1:
   url: features
   name: Features
level2: 
   url: advanced
   name: Advanced usage
level3:
   url: using-extra-js.html
   name: Using extra JavaScript
---
<h2 class="page-title">Using extra JavaScript</h2>
<p>
   There are so many possibilities with <a
      href="http://datatables.net/">DataTables</a> it would be too bad to limit its configuration
   with the JSP taglib/Thymeleaf dialect attributes.
</p>
<p>
   Let's see here how to inject custom code inside the generated configuration.
</p>

<h3 class="section-title" id="ejhiw">How it works?</h3>
<p>
   Prior to the v0.10.0, you already was able to inject some code but with two restrictions:
</p>
<ul>
   <li>You had to specify the (context-relative) location of JavaScript files to inject</li>
   <li>It was only compatible with JSP, not Thymeleaf.</li>
</ul>
<p>
   Starting from the v0.10.0, the above restrictions have disappeared!
</p>
<p>
   The code injection is now based on
   <a
      href="/dandelion/features/asset-bundles/introducing-asset-bundles.html">asset
      bundles</a>. This means that you can now inject one (or more) bundles
   inside the generated configuration. Dandelion-Datatables will then
   filter the JavaScript assets contained in the supplied bundle(s).
</p>
<p>
   Once the assets filtered, their content will be retrieved, depending on the location you configured
   in the asset bundle  and injected into the specified location aka the <i>insert mode</i>.
</p>

<h3 class="section-title" id="ejim">Insert mode</h3>
<p>
   The <i>insert mode</i> is used to determine where the content of the
   external Javascript file will be inserted in the main generated
   Javascript file.
</p>

<img src="/assets/images/datatables/insert-mode.png" style="float:left;"/>
<p>
   It can take 5 different values:
</p>
<ul>
   <li><code>BEFOREALL</code>: the Javascript code will be inserted before all existing generated code</li> 
   <li><code>BEFORESTARTDOCUMENTREADY</code>: the Javascript code will be inserted just before the start of the jQuery <code>ready()</code> method</li>
   <li><code>AFTERSTARTDOCUMENTREADY</code>: the Javascript code will be inserted just after the start of the jQuery <code>ready()</code> method</li>
   <li><code>BEFOREENDDOCUMENTREADY</code>: the Javascript code will be inserted just before the end of the jQuery <code>ready()</code> method</li>
   <li><code>AFTERALL</code>: the Javascript code will be inserted after all existing generated code</li>
</ul>

<div class="clearfix"></div>
<h3 class="section-title" id="im">Using JSP</h3>
<p>
   That's why {% refjsp dt extraJs %} and {% refjsp dt extraHtml %} tags exist and provide
   extension points. Let's focus on extra Javascript here.
</p>
<p>
   The {% refjsp dt extraJs %} tag allows you to inject extra JavaScript into the DataTables configuration. Depending on what you
   need to do, the custom code can be inserted at different locations, using
   the {% refjsp dt extraJs insert %} extraFile attribute.
</p>

<h3 class="section-title" id="eje">Example</h3>
<p>
   Let's assume you want to filter data with an external drop down list. For that, you've written some JavaScript code in a file
   called
   <i>custom-filter.js</i> located under you
   <code>src/main/webapp/assets/js</code>
   folder.
</p>
<p>
   Here is the custom dropdown list you wish to add in your page:
</p>
<pre class="prettyprint">
&lt;select class="input-medium" id="lastNameChoice">
   &lt;option value="All">All&lt;/option>
   &lt;option value="Carpenter">Carpenter&lt;/option>
   &lt;option value="Holloway">Holloway&lt;/option>
   &lt;option value="Peck">Peck&lt;/option>
   &lt;option value="Pena">Pena&lt;/option>
   &lt;option value="Wilder">Wilder&lt;/option>
&lt;/select>
</pre>
<p>
   Here is the content of the <i>custom-filter.js</i> file:
</p>
<pre class="prettyprint">
$.fn.dataTableExt.afnFiltering.push(
   function( oSettings, aData, iDataIndex ) {
      var chosenName = $("#lastNameChoice").val(); // Grab selected item in the dropdown list
      var nameInColumn = aData[2]; // 2 is the index (begins from 0) of the column I want to sort
       
      // If nothing or "All" is selected, don't filter
      if ( chosenName == "" || chosenName == "All")
      {
         return true;
      }
      // Filtering on the city name
      else if ( chosenName == nameInColumn)
      {
         return true;
      }
      return false;
   }
);
 
// Redraw the table as soon as the selected item changes
// Important : the DataTable is accessible through the taglib with the name : oTable_[HTML table id]
$("#lastNameChoice").change( function() { oTable_myTableId.fnDraw(); });
</pre>
<p>
   To let Dandelion handle your assets, you have written the
   corresponding
   <a
      href="/dandelion/features/asset-bundles/introducing-asset-bundles.html">bundle</a>:
</p>
<pre class="prettyprint">
{
   "bundle" : "custom-filter",
   "assets": [{
      "name": "filter",
      "version": "1.0.0",
      "type": "js",
      "locations": {
         "webapp": "/assets/js/custom-filter.js"
      }
   }]
}
</pre>

<h4 id="ejj">Using JSP</h4>
<p>
   It's as simple as using the {% refjsp dt extraJs %} tag as follows:
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="Firstname" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
   &lt;datatables:extraJs bundles="custom-filter" />
&lt;/datatables:table>
</pre>

<h4 id="ejt">Using Thymeleaf</h4>
<p>
   Use the <a href="/datatables/features/advanced/configuration-div.html">configuration div</a> introduced in the v0.10.0.
</p>
<pre class="prettyprint">
&lt;div dt:conf="myTableId">
   &lt;div dt:confType="extrajs" dt:bundles="custom-filter" />
&lt;/div>

&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th>Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person?.id}">1&lt;/td>
         &lt;td th:text="${person?.firstName}">John&lt;/td>
         &lt;td th:text="${person?.lastName}">Doe&lt;/td>
         &lt;td th:text="${person?.address?.town?.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person?.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>