---
layout: default
---

<h2>All categories</h2>

{% for category in site.categories %} 
  <h3 id="{{ category | first | capitalize }}">{{ category | first | capitalize }}</h3>
  <ul class="post-list">
    {% assign pages_list = category[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li>{{ post.date | date: "%Y-%m-%d" }}: <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}