---
layout: default
---

<div class="row margin-top-20">
  <div class="col-md-8">
    {% for post in site.posts %}
    <article>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
      <div class="row margin-top-10">
        <div class="col-md-12">
          {% for category in post.categories %} 
          <span class="blog-category"><i class="fa fa-folder-open-o"></i> {{ category | capitalize }}</span>&nbsp;
          {% endfor %}
          <span class="blog-author"><i class="fa fa-user"></i> {{ post.author }}</span>
          <span class="blog-date"><i class="fa fa-calendar-o"></i> {{ post.date | date: "%Y-%m-%d" }}</span>
        </div>
      </div>
      <section class="margin-top-10">{{ post.content | truncatewords: 50 }}</section>
    </article>
    <p>
      <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
    </p>
    <hr />
    {% endfor %}
  </div>
  <div class="col-md-4 margin-top-20">
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <td><a href="categories.html">All posts ({{ site.posts | size }})</a></td>
        </tr>
        {% for category in site.categories %}
        <tr>
          <td><a href="categories.html#{{ category | first }}">{{ category | first | capitalize}} ({{ category | last | size }})</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{{ "/feed.xml" | prepend:site.baseurl }}"><i class="fa fa-3x fa-rss"></i></a>
    <a href="https://twitter.com/dandelion_proj"><i class="fa fa-3x fa-twitter"></i></a>
    <a class="twitter-timeline" height="400" href="https://twitter.com/dandelion_proj"
            data-widget-id="306779829204828161"
            data-chrome="noheader transparent noscrollbar nofooter">Tweets de @dandelion_proj</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
