---
layout: datatables
menu: basics
submenu: filtering
level1: tutorials
level2:
  url: basics
  name: Basics
level3:
  url: filtering
  name: Filtering data
level4:
  url: exclude-columns-from-global-filtering
  name: Exclude columns from global filtering
---

<h2 class="page-title">Exclude columns from global filtering</h2>

<h3 class="section-title">Preamble</h3>
<p>
   There are times when you might find it useful to exclude some columns from filtering. This section describes how to proceed.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   Make use of the {% refjsp dt column searchable %} column attribute. Setting the value to <code>false</code> will exclude the column.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" searchable="false" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>

<h3 class="section-title">Using Thymeleaf</h3>
<p>
   You can use the {% reftl dt th dt:searchable %} th attribute.
</p>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th dt:searchable="false">Firstname&lt;/th>
         &lt;th>Lastname&lt;/th>
         &lt;th>City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
   &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address.town.name}">Nobody knows !&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>   