---
layout: datatables
menu: basics
submenu: filtering
level1:
   url: features
   name: Features
level2: 
   url: basics
   name: Basic usage
level3:
   url: filtering
   name: Filtering data
level4:
   url: filtering-on-click.html
   name: Filtering on click
---
<h2 class="page-title">Filtering on click</h2>
<p>
   Since the v0.10.0, data filtering can be done not only on key press
   but also on button click whether you use a DOM or an AJAX source.
</p>

<h3 class="section-title">Using JSP</h3>
<p>
   You can use the {% refjsp dt table filterSelector %} table attribute,
   which needs a
   <a href="http://api.jquery.com/category/selectors/">jQuery
      selector</a>. However, there is a requirement: all columns must
   declare a {% refjsp dt column name %} attribute.
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" dom="l0rtip" filterSelector="#filterButton" filterClearSelector="#filterClearButton">
   &lt;datatables:column title="Id" name="id" property="id" />
   &lt;datatables:column title="FirstName" name="firstName" property="firstName" filterable="true" filterType="select" />
   &lt;datatables:column title="LastName" name="lastName" property="lastName" filterable="true" />
   &lt;datatables:column title="City" name="city" property="address.town.name" filterable="true" filterCssClass="input-medium" />
   &lt;datatables:column title="Mail" name="mail" property="mail" />
   &lt;datatables:extraHtml uid="0" cssStyle="float:right;">
      &lt;a id="filterButton" class="btn btn-primary">Apply filters&lt;/a>
      &lt;a id="filterClearButton" class="btn btn-inverse">Clear filters&lt;/a>
   &lt;/datatables:extraHtml>
&lt;/datatables:table>
</pre>
<p>
   At initialization, Dandelion-Datatables will automatically trigger a
   <i>click</i> event on the element targeted by the {% refjsp dt table filterSelector %} attribute which will lead to a global filtering
   using all filled filtering elements.
</p>
<p>
   To go a step further, note that you can do the same to clear the filters by assigning another <a href="http://api.jquery.com/category/selectors/">jQuery
      selector</a> to the element targeted by the {% refjsp dt table filterClearSelector %} attribute. 
</p>

<h3 class="section-title">Using Thymeleaf</h3>
<p>You can use the {% reftl dt table filterSelector %} table attribute
   to apply the filters and {% reftl dt table filterClearSelector %} to
   clear them.
</p>
<pre class="prettyprint">
&lt;div dt:conf="myTableId">
   &lt;div dt:confType="extrahtml" dt:uid="0" dt:cssStyle="float:right;">
      &lt;a id="filterButton" class="btn btn-primary" style="margin-right:5px;">Apply filters&lt;/a>
      &lt;a id="filterClearButton" class="btn btn-inverse">Clear filters&lt;/a>
   &lt;/div>
&lt;/div>      

&lt;table id="myTableId" dt:table="true" dt:dom="l0rtip" dt:filterSelector="#filterButton" dt:filterClearSelector="#filterClearButton">
   &lt;thead>
      &lt;tr>
         &lt;th dt:name="id">Id&lt;/th>
         &lt;th dt:name="firstname" dt:filterable="true" dt:filterType="select">Firstname&lt;/th>
         &lt;th dt:name="lastname" dt:filterable="true">Lastname&lt;/th>
         &lt;th dt:name="city" dt:filterable="true">City&lt;/th>
         &lt;th dt:name="mail">Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody>
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person?.id}">1&lt;/td>
         &lt;td th:text="${person?.firstName}">John&lt;/td>
         &lt;td th:text="${person?.lastName}">Doe&lt;/td>
         &lt;td th:text="${person?.address?.town?.name}">Nobody knows!&lt;/td>
         &lt;td th:text="${person?.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>

<p class="alert alert-info">
   <strong><i class="fa fa-info-circle fa-2x"></i></strong>&nbsp; Note
   that in the above example, we make use of the new
   <a href="/datatables/features/advanced/configuration-div.html">configuration
      div</a> introduced in the v0.10.0.
</p>
