---
layout: datatables
menu: basics
submenu: filtering
level1:
   url: features
   name: Features
level2: 
   url: basics
   name: Basic usage
level3:
   url: filtering
   name: Filtering data
level4:
   url: using-an-external-form.html
   name: Using an external form
---
<h2 class="page-title">Using an external form</h2>
<p>
   At times, you might need to externalize all filtering elements out of the table. You'll see in this tutorial different ways to do that.
</p>

<h3 class="section-title" id="ufs">#1: Using filtering selectors</h3>
<p>
   You can tell Dandelion-Datatables to inject filtering elements (such as input fields, drop-down lists, ...) in
   externalized placeholders.
</p>
<p>
   First, you need to give all placeholders an ID.
<pre class="prettyprint">
&lt;div id="firstNameFilter">&lt;/div>
&lt;div id="lastNameFilter">&lt;/div>
&lt;div id="cityFilter">&lt;/div>
</pre>
</p>
<p>
   Then, use the {% refjsp dt column selector %}
   column attribute (JSP) / {% reftl dt th selector %} th attribute
   (Thymeleaf). Those attributes wait for a jQuery selector. See bellow:
</p>

<h4>Using JSP</h4>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}" filterPlaceholder="none">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" filterable="true" filterType="select" selector="#firstNameFilter" />
   &lt;datatables:column title="LastName" property="lastName" filterable="true" selector="#lastNameFilter" />
   &lt;datatables:column title="City" property="address.town.name" filterable="true" selector="#cityFilter" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>

<h4>Using Thymeleaf</h4>
<pre class="prettyprint">
&lt;table id="myTableId" dt:table="true" dt:filterPlaceholder="none">
   &lt;thead>
      &lt;tr>
         &lt;th>Id&lt;/th>
         &lt;th dt:filterable="true" dt:filterType="select" dt:selector="'#firstNameFilter'">Firstname&lt;/th>
         &lt;th dt:filterable="true" dt:selector="'#lastNameFilter'">Lastname&lt;/th>
         &lt;th dt:filterable="true" dt:selector="'#cityFilter'">City&lt;/th>
         &lt;th>Mail&lt;/th>
      &lt;/tr>
   &lt;/thead>
   &lt;tbody th:remove="all-but-first">
      &lt;tr th:each="person : ${persons}">
         &lt;td th:text="${person.id}">1&lt;/td>
         &lt;td th:text="${person.firstName}">John&lt;/td>
         &lt;td th:text="${person.lastName}">Doe&lt;/td>
         &lt;td th:text="${person.address != null and person.address.town != null} ? ${person.address.town.name} : ''">Nobody knows !&lt;/td>
         &lt;td th:text="${person.mail}">john@doe.com&lt;/td>
      &lt;/tr>
   &lt;/tbody>
&lt;/table>
</pre>

<p>
   Note that the {% refjsp dt table filterPlaceholder %} (JSP) / {% reftl dt table dt:filterPlaceholder %} (Thymeleaf) attribute must have <code>none</code> as a value.
   This way, Dandelion-Datatables won't generate any new row in the table.
</p>

<h3 class="section-title" id="uda">#2: Using the DataTables API</h3>
<p>
   There is also an alternative way: use the <a href="http://datatables.net/api#fnFilter">fnFilter</a> method of the DataTables API.
</p>
<p>
   Indeed, as soon as you use the JSP taglib or the Thymeleaf dialect,
   Dandelion-Datatables makes available a global-scoped variable
   containing the DataTables under the name
   <code>oTable_[tableId]</code>
   .
</p>
<p>
   This means you can use the DataTables API with this variable.
</p>

<h4>Example using JSP</h4>
<p>
   Considering the following table:
</p>
<pre class="prettyprint">
&lt;datatables:table id="myTableId" data="${persons}">
   &lt;datatables:column title="Id" property="id" />
   &lt;datatables:column title="FirstName" property="firstName" />
   &lt;datatables:column title="LastName" property="lastName" />
   &lt;datatables:column title="City" property="address.town.name" />
   &lt;datatables:column title="Mail" property="mail" />
&lt;/datatables:table>
</pre>
<p>
   You could add an external search form as follows:
</p>
<pre class="prettyprint">
&lt;form>
   &lt;input type="text" name="value1" />
   &lt;input type="text" name="value2" />
    
   &lt;a onclick="doSearch();">Search&lt;/a>
&lt;/form>

&lt;script>
   function doSearch(){
      oTable_myTableId.fnFilter($('#value1').val());
   }
&lt;/script>
</pre>
<p>
   Note that the table is accessed with the following variable: <code>oTable_myTableId</code>.
</p>
