<ul class="breadcrumb hidden-phone">
   <li><a href="/"><i class="fa fa-home"></i></a></li>
   <li><span class="divider">|</span><a href="/{{ site.dandelion.components.[page.module].url }}">{{ site.dandelion.components.[page.module].breadcrumb }}</a></li>
     
   {% if page.level1 %}
   <li><span class="divider">|</span><a href="/{{ site.dandelion.components.[page.module].url }}/{{ page.level1.url | downcase }}">{{ page.level1.name }}</a></li>
   {% endif %}

   {% if page.level2 %}
   <li><span class="divider">|</span><a href="/{{ site.dandelion.components.[page.module].url }}/{{ page.level1.url | downcase }}/{{ page.level2.url | downcase }}">{{ page.level2.name }}</a></li>
   {% endif %}
     
   {% if page.level3 %}
   <li><span class="divider">|</span><a href="/{{ site.dandelion.components.[page.module].url }}/{{ page.level1.url | downcase }}/{{ page.level2.url | downcase }}/{{ page.level3.url | downcase }}">{{ page.level3.name }}</a></li>
   {% endif %}
   
   {% if page.level4 %}
   <li><span class="divider">|</span><a href="/{{ site.dandelion.components.[page.module].url }}/{{ page.level1.url | downcase }}/{{ page.level2.url | downcase }}/{{ page.level3.url | downcase }}/{{ page.level4.url | downcase }}">{{ page.level4.name }}</a></li>
   {% endif %}
   
   <li class="pull-right" style="margin-left:5px;">
      <form class="custom-form-search" action="http://google.com/search" method="get" style="margin:0;">
         <input type="hidden" name="q" value="site:dandelion.github.io/{{ site.dandelion.components.[page.module].url }}">
         <div class="input-append">
            <input type="text" class="input-medium" name="q" placeholder="Search via Google" />
            <button type="submit" class="btn"><i class="icon-search"></i></button>
         </div>
      </form>
   </li>
   
   <li class="pull-right">
      Latest release: <a href="/{{ site.dandelion.components.[page.module].url }}/releases/{{ site.dandelion.components.[page.module].version }}/">{{ site.dandelion.components.[page.module].version }}</a>
      <span class="divider">|</span>
   </li>
</ul>

