<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="span9">
            
            <div class="row-fluid">
               <div class="span3">
                  <h3>Dandelion</h3>
                  <ul>
                     <li><a href="https://github.com/dandelion"><i class="fa fa-github"></i> Source repository</a></li>
                     <li><a href="https://github.com/dandelion/issues/issues"><i class="fa fa-bug"></i> Issue tracker</a></li>
                     <li><a href="/team"><i class="fa fa-group"></i> Team</a></li>
                     <li><a href="/roadmap"><i class="fa fa-road"></i> Roadmap</a></li>
                     <li><a href="/acknowledgements/"><i class="fa fa-info-circle"></i> Acknowledgements</a></li>
                     <li><a href="/faq"> <i class="fa fa-book"></i> FAQ</a></li>
                  </ul>
               </div>
               <div class="span3">
                  <h3><i class="fa fa-puzzle-piece"></i> Components</h3>
                  <ul>
                     <li><a href="/dandelion">Dandelion</a></li>
                     <li><a href="/datatables">Dandelion-Datatables</a></li>
                     <li><a href="/webanalytics">Dandelion-Webanalytics</a></li>
                  </ul>
               </div>
               <div class="span3">
                  <h3><i class="fa fa-play"></i> Get started</h3>
                  <ul>
                     <li><a href="/get-started"> <i class="fa fa-book"></i> Get-started guide</a></li>
                     <li><a href="https://github.com/dandelion/dandelion-samples"><i class="fa fa-code"></i> Samples</a></li>
                  </ul>
               </div>
               <div class="span3">
                  <h3><i class="fa fa-beer"></i> Community</h3>
                  <ul>
                     <li><a href="/blog"><i class="fa fa-comment-o"></i> Blog</a></li>
                     <li><a href="{{ site.forum }}"><i class="fa fa-comments-o"></i> Forum</a></li>
                     <li><a href="{{ site.twitter }}"><i class="fa fa-twitter"></i> Twitter</a></li>
                  </ul>
               </div>
            </div>
            
         </div>
         <div class="span3">
            <p class="text-right" style="margin-top:10px;">
               <a href="/"><img src="/assets/images/dandelion/github-dandelion-logo.png" alt="dandelion logo" style="margin-bottom:10px;"/></a>
               Copyright © The <a href="/team">Dandelion Team</a>
            </p>
         </div>
      </div>
      <div class="row" style="padding-top:10px;">
         <div class="span12">
            <p class="text-center">
               <strong>Dandelion</strong> and all its components are released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD 3-Clause</a> licence. More information <a href="http://www.tldrlegal.com/license/bsd-3-clause-license-(revised)">here</a>.
            </p>
         </div>
      </div>
   </div>
</footer>