<footer class="footer">
   <div class="container">
      <div class="row">
         <div class="span8">
            
            <div class="row-fluid">
               <div class="span4">
                  <h3>Dandelion</h3>
                  <ul>
                     <li><a href="https://github.com/dandelion"><i class="icon-github"></i> Source repository</a></li>
                     <li><a href="https://github.com/dandelion/issues/issues"><i class="icon-bug"></i> Issue tracker</a></li>
                     <li><a href="/team"><i class="icon-group"></i> Team</a></li>
                     <li><a href="/roadmap"><i class="icon-road"></i> Roadmap</a></li>
                     <li><a href="/acknowledgements/"><i class="icon-info-sign"></i> Acknowledgements</a></li>
                  </ul>
               </div>
               <div class="span4">
                  <h3>Get started</h3>
                  <ul>
                     <li><a href="/faq"> <i class="icon-book"></i> FAQ</a></li>
                     <li><a href="/samples"><i class="icon-code"></i> Samples</a></li>
                     <li><a href="/downloads"><i class="icon-download-alt"></i> Downloads</a></li>
                  </ul>
               </div>
               <div class="span4">
                  <h3>Community</h3>
                  <ul>
                     <li><a href="/blog"><i class="icon-comment-alt"></i> Blog</a></li>
                     <li><a href="{{ site.forum }}"><i class="icon-comments-alt"></i> Forum</a></li>
                     <li><a href="{{ site.twitter }}"><i class="icon-twitter"></i> Twitter</a></li>
                  </ul>
               </div>
            </div>
            
         </div>
         <div class="span4">
            <p class="text-right" style="margin-top:10px;">
               <a href="/"><img src="/assets/images/dandelion/github-dandelion-logo.png" alt="dandelion logo" style="margin-bottom:10px;"/></a>
               Copyright © The <a href="/team">Dandelion Team</a>
            </p>
         </div>
      </div>
      <div class="row" style="padding-top:10px;">
         <div class="span12">
            <p class="text-center">
               <strong>Dandelion</strong> and all its components, are released under the <a href="http://opensource.org/licenses/BSD-3-Clause">BSD 3-Clause</a> licence. More information <a href="http://www.tldrlegal.com/license/bsd-3-clause-license-(revised)">here</a>.
            </p>
         </div>
      </div>
   </div>
</footer>