<div class="navbar navbar-static-top">
   <div class="navbar-inner">
      <div class="container-fluid">
         <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
         </button>
         <a href="/{{ site.dandelion.components.[page.module].url }}">
            <div id="logo_container">
                <img id="logo_image" src="/assets/images/dandelion/github-dandelion-logo.png" alt="dandelion"/>
            </div>
         </a>
         <div class="nav-collapse collapse">
            <ul class="nav pull-right" style="margin-bottom: 5px; margin-top: 10px;">
               <li class="text-center"><a href="/"><i class="fa fa-home fa-3x"></i><br/>Home</a></li>
               <li class="text-center"><a href="http://dandelion-forum.48353.n6.nabble.com/"><i class="fa fa-comments-o fa-3x"></i><br />Forum</a></li>
               <li class="text-center"><a href="/blog"><i class="fa fa-comment-o fa-3x"></i><br />Blog</a></li>
               <li class="text-center"><a href="/faq"><i class="fa fa-book fa-3x"></i><br />FAQ</a></li>
               <li class="text-center"><a href="/roadmap"><i class="fa fa-road fa-3x"></i><br />Roadmap</a></li>
            </ul>
         </div>
         <!--/.nav-collapse -->
      </div>
   </div>
</div>