--- 
module: blog
cookiePath: /blog
---
<!DOCTYPE html>
<html>
<head>
   {% include layout/head.html %}
   
   <link href="/blog/atom.xml" rel="alternate" title="Dandelion Project Blog" type="application/atom+xml" />

   <link href="/assets/css/site-main.css" rel="stylesheet">
   <link href="/assets/css/site-marketing.css" rel="stylesheet">
   <link href="/assets/css/site-blog.css" rel="stylesheet">
</head>
<body>
   {% include layout/navbar-component.html %}
   
   <div class="container" style="min-height: 500px; padding-top: 20px; padding-bottom:20px;">
      <div class="row">
         <div class="span12">
            {{ content }}
         </div>
      </div>
   </div>
      
   <div class="container-fluid area-footer">     
      {% include layout/footer.html %}
   </div>
   
   <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
   <script src="/assets/js/site-main.js"></script>
</body>
</html>