<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Dandelion Project</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="java, web, component, library, assets, datatables">
<meta name="author" content="Dandelion">
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="/assets/css/component.css" rel="stylesheet">
<link href="/assets/css/font-awesome.min.css" rel="stylesheet">
<!--[if IE 7]>
      <link rel="stylesheet" href="/assets/css/font-awesome-ie7.min.css">
      <![endif]-->
<!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <![endif]-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/dandelion_square.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/dandelion_square.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/dandelion_square.png">
<link rel="apple-touch-icon-precomposed" href="/assets/images/dandelion_square.png">
<link rel="shortcut icon" href="/assets/images/dandelion_square.png">
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push([ '_setAccount', 'UA-33818546-8' ]);
	_gaq.push([ '_trackPageview' ]);
	(function() {
		var ga = document.createElement('script');
		ga.type = 'text/javascript';
		ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl'
				: 'http://www')
				+ '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(ga, s);
	})();
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/datatables"><img src="/assets/images/dandelion_square.png" width="17" height="17" /> {{ site.dandelion.components.[page.module].name }}</a>
            <div class="nav-collapse collapse">
               <ul class="nav">
                  <li class="navbar-text">Latest release :</li>
                  <li><a href="/datatables/changelog.html">{{ site.dandelion.components.[page.module].version }}</a></li>
               </ul>
               <ul class="nav pull-right">
                  <li><a href="/blog"><i class="icon-comment-alt"></i> Blog</a></li>
                  <li><a href="http://dandelion-forum.48353.n6.nabble.com/"><i class="icon-comments-alt"></i> Forum</a></li>
                  <li><a href="/"><i class="icon-home"></i> Dandelion</a></li>
               </ul>
            </div>
            <!--/.nav-collapse -->
         </div>
      </div>
   </div>
   <div class="container-fluid">
      <div class="row-fluid">
         {{ content }}
      </div>
      <hr>
      <footer>
         <p>
            &copy; Dandelion Team 2013 {% if page.module == 'datatables' %} - <a href="/datatables/acknowledgments.html">Acknowledgements</a> {% endif %}
            <span style="float:right;"><script src="http://www.ohloh.net/p/633354/widgets/project_thin_badge.js"></script></span>
         </p>
      </footer>
   </div>
</body>
</html>