<!DOCTYPE html>
<html>
<head>
   {% include layout/head.html %}
   
   <link href="/assets/css/site-component.css" rel="stylesheet">
   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
   {% include layout/navbar-component.html %}

   {{ content }}
   
   <div class="container-fluid area-footer">     
      {% include layout/footer.html %}
   </div>
   
   <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
   <script src="/assets/js/site-main.js"></script>
</body>
</html>
