--- 
layout: component 
module: core
---
<div class="container-fluid container-component">
    <div class="row-fluid">
	<div class="span2">
	    <div class="well sidebar-nav">
		<ul class="nav nav-list">

		    <li class="nav-header">Overview</li>
		    <li {% if page.menu == 'home' %} class="active"{% endif %}>
		    <a href="/dandelion"><i class="icon-home"></i> Home</a>
		    </li>
		    <li {% if page.menu == 'features' %} class="active"{% endif %}>
		    <a href="/dandelion/features/" title="Features"><i class="icon-th-list"></i> Features</a>
		    </li>
		    <li {% if page.menu == 'installation' %} class="active"{% endif %}>
		    <a href="/dandelion/docs/installation/" title="Installation"><i class="icon-wrench"></i> Installation</a>
		    </li>
		    <li {% if page.menu == 'releases' %} class="active"{% endif %}>
		    <a href="/dandelion/releases/" title="Releases"> <i class="icon-tags"></i> Releases</a>
		    </li>

		    <li class="nav-header">Reference</li>
		    <li {% if page.menu == 'jsp' %} class="active"{% endif %}><a href="/dandelion/docs/ref/jsp/" title="JSP taglib"> JSP taglib
		</a></li>
		    <li {% if page.menu == 'thymeleaf' %} class="active"{% endif %}><a href="/dandelion/docs/ref/thymeleaf/" title="Thymeleaf dialect"> Thymeleaf dialect
		</a></li>
		    <li {% if page.menu == 'properties' %} class="active"{% endif %}>
		    <a href="/dandelion/docs/ref/configuration/" title="Configuration"> <i class="none"></i> Configuration
		</a></li>

		    <li class="nav-header">Tutorials</li>
		    <li {% if page.menu == 'assets' %} class="active"{% endif %}>
		    <a href="/dandelion/tutorials/assets/" title="Assets Stack"> <i class="icon-th"></i> Assets Stack</a>
		    </li>
		</ul>
	    </div>
	</div>
	<div class="span10">
	    <div class="row-fluid">
		{% include layout/breadcrumbs.html %}
		{{ content }}
	    </div>
	</div>
    </div>
</div>