--- 
layout: datatables
---

<div id="datatablesthymeleaf" class="row-fluid">
   <div class="span10">
      {{ content }}
   </div>
   <div class="span2 hidden-phone">
      <ul class="nav nav-tabs nav-stacked pull-right hidden-phone" data-spy="affix" data-offset-top="60">
         <li {% if page.level3.url == 'table' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/table.html">&lt;table&gt; attributes</a></li>
         <li {% if page.level3.url == 'thead' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/thead.html">&lt;thead&gt; attributes</a></li>
         <li {% if page.level3.url == 'tbody' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/tbody.html">&lt;tbody&gt; attributes</a></li>
         <li {% if page.level3.url == 'th' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/th.html">&lt;th&gt; attributes</a></li>
         <li {% if page.level3.url == 'td' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/td.html">&lt;td&gt; attributes</a></li>
      </ul>
   </div>
</div>

<script>
$(document).ready(function () {
	if($('#datatablesthymeleaf ul.nav').is(":hidden")){
		$('#datatablesthymeleaf div:eq(0)').removeClass('span10');
		$('#datatablesthymeleaf div:eq(0)').addClass('span12');
	}
});	
</script>
