--- 
layout: component
module: datatables 
---

<div class="span2">
   <div class="well sidebar-nav">
      <ul class="nav nav-list">
         
         <li class="nav-header">Overview</li>
         <li {% if page.menu == 'home' %} class="active"{% endif %}>
            <a href="/datatables"><i class="icon-home"></i> Home</a>
         </li>
         <li {% if page.menu == 'features' %} class="active"{% endif %}>
            <a href="/datatables/features/" title="Features"><i class="icon-th-list"></i> Features</a>
         </li>
         <li {% if page.menu == 'installation' %} class="active"{% endif %}>
            <a href="/datatables/installation/" title="Installation"><i class="icon-wrench"></i> Installation</a>
         </li>
         <li {% if page.menu == 'download' %} class="active"{% endif %}>
            <a href="/datatables/download.html" title="Download"> <i class="icon-download-alt"></i> Download</a>
         </li>
         <li {% if page.menu == 'changelog' %} class="active"{% endif %}>
            <a href="/datatables/changelog.html" title="Changelog"> <i class="icon-info-sign"></i> Changelog</a>
         </li>
         <li {% if page.menu == 'roadmap' %} class="active"{% endif %}>
            <a href="/datatables/roadmap.html" title="Roadmap"><i class="icon-road"></i> Roadmap</a>
         </li>
         <li {% if page.menu == 'migration' %} class="active"{% endif %}>
            <a href="/datatables/migration.html" title="Migration guide"> <i class="icon-plane"></i> Migration guide</a>
         </li>
         <li {% if page.menu == 'architecture' %} class="active"{% endif %}>
            <a href="/datatables/architecture/" title="Architecture"> <i class="icon-sitemap"></i> Architecture</a>
         </li>
         
         <li class="nav-header">Tutorials</li>
         <li {% if page.menu == 'basics' %} class="active"{% endif %}>
            <a href="/datatables/features/basics/" title="Basics"> <i class="icon-leaf"></i> Basics</a>
         </li>
         <li {% if page.menu == 'advanced' %} class="active"{% endif %}>
            <a href="/datatables/features/advanced/" title="Advanced"> <i class="icon-fire"></i> Advanced</a>
         </li>
         <li {% if page.menu == 'styling' %} class="active"{% endif %}>
            <a href="/datatables/features/styling/" title="Styling"> <i class="icon-magic"></i> Styling</a>
         </li>
         <li {% if page.menu == 'export' %} class="active"{% endif %}>
            <a href="/datatables/features/export/" title="Export"> <i class="icon-file-alt"></i> Export</a>
         </li>
         <li {% if page.menu == 'ajax' %} class="active"{% endif %}>
            <a href="/datatables/features/ajax/" title="AJAX"> <i class="icon-refresh"></i> AJAX</a>
         </li>
         <li {% if page.menu == 'plugins' %} class="active"{% endif %}>
            <a href="/datatables/features/plugins/" title="Plugins"> <i class="icon-plus"></i> Plugins</a>
         </li>
         
         <li class="nav-header">Reference</li>
         <li {% if page.menu == 'jsp' %} class="active"{% endif %}><a href="/datatables/ref/jsp/" title="JSP taglib"> JSP taglib
         </a></li>
         <li {% if page.menu == 'thymeleaf' %} class="active"{% endif %}><a href="/datatables/ref/thymeleaf/" title="Thymeleaf dialect"> Thymeleaf dialect
         </a></li>
         <li {% if page.menu == 'properties' %} class="active"{% endif %}>
            <a href="/datatables/ref/configuration/" title="Configuration"> <i class="none"></i> Configuration</a>
         <li {% if page.menu == 'javadoc' %} class="active"{% endif %}><a href="/datatables/ref/javadoc"> <i class="none"></i>Javadoc
         </a></li>
         </li>
      </ul>
   </div>
</div>
<div class="span10">
   <div class="row-fluid">
      {% include breadcrumbs %}
      {{ content }}
   </div>
</div>