--- 
layout: datatables
---
<div id="datatablesbasics" class="row-fluid visible-desktop">
   <div class="span10">{{ content }}</div>
   <div class="span2">
      <ul class="nav nav-tabs nav-stacked pull-right hidden-phone" data-spy="affix" data-offset-top="60">
         <li {% if page.level3.url == 'featurenablement' %} class="active"{% endif %}><a href="/datatables/features/basics/featurenablement.html"> Feature enablement</a></li>
         <li {% if page.level3.url == 'sorting' %} class="active"{% endif %}><a href="/datatables/features/basics/sorting.html" title="Sorting data"> Sorting data</a></li>
         <li {% if page.level3.url == 'filtering' %} class="active"{% endif %}><a href="/datatables/features/basics/filtering.html" title="Filtering data"> Filtering data</a></li>
         <li {% if page.level3.url == 'defaultvalues' %} class="active"{% endif %}><a href="/datatables/features/basics/defaultvalues.html" title="Handling null/default values"> Handling null/default values</a></li>
         <li {% if page.level3.url == 'cdn' %} class="active"{% endif %}><a href="/datatables/features/basics/cdn.html" title="Using CDN"> Using CDN</a></li>
         <li {% if page.level3.url == 'changingappearing' %} class="active"{% endif %}><a href="/datatables/features/basics/changingappearing.html" title="Changing table's appearing"> Changing table's appearing</a></li>
         <li {% if page.level3.url == 'multiple' %} class="active"{% endif %}><a href="/datatables/features/basics/multiple.html" title="Multiple tables"> Multiple tables</a></li>
         <li {% if page.level3.url == 'implicit' %} class="active"{% endif %}><a href="/datatables/features/basics/implicit.html" title="Using implicit object"> Using implicit object</a></li>
         <li {% if page.level3.url == 'customcontent' %} class="active"{% endif %}><a href="/datatables/features/basics/customcontent.html" title="Specific column's content"> Specific column's content</a></li>
         <li {% if page.level3.url == 'customhead' %} class="active"{% endif %}><a href="/datatables/features/basics/customhead.html" title="Specific column's head"> Specific column's head</a></li>
      </ul>
   </div>
</div>

<script>
$(document).ready(function () {
   if($('#datatablesbasics ul.nav').is(":hidden")){
      $('#datatablesbasics div:eq(0)').removeClass('span10');
      $('#datatablesbasics div:eq(0)').addClass('span12');
   }
});   
</script>