<!DOCTYPE html>
<html>
<head>
   {% include layout/head.html %}
   <link href="/assets/css/site-marketing.css" rel="stylesheet">
</head>
<body>
   {% include layout/navbar-marketing.html %}
   
   {{ content }}
   
   <div class="container-fluid area-footer">     
      {% include layout/footer.html %}
   </div>
   
   <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
   <script src="/assets/js/site-main.js"></script>
</body>
</html>