---
layout: blog
module: blog
---
<script type="text/javascript">
   var addthis_config = {
      "data_track_addressbar":false,
      "data_track_clickback":true,
      "ui_offset_top": 187,
      "ui_offset_left": 30,
      "data_ga_tracker": "{{ site.gaid }}"
   };
   var addthis_share = {
      "url" : "http://dandelion.github.io{{ page.url }}",
      "title" : "[Blog] {{ page.title }}"
   }
</script>
<div class="row">
   <div class="span12">
      <h2 class="page-title">
         {{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}
      </h1>

      <ul class="breadcrumb tag_box">
         <li>By <a href="/team">{{ page.author }}</a></li>
         <li>
            <span class="divider">|</span>
            <span>{{ page.date | date_to_long_string }}</span>
         </li>
         <li>
            <span class="divider">|</span><i class="fa fa-comments"></i>
            <a href="{{ page.url }}#disqus_thread">Comments</a>
         </li>
         <li><span class="divider">|</span><i class="fa fa-tags"></i></li>
         {% for tag in page.tags %} 
            <li class="tag"><a href="{{ BASE_PATH }}{{ site.tags_path }}#{{ tag }}-ref">{{ tag }}</a></li>
         {% endfor %}
         {% for category in page.categories %} 
            <li class="pull-right tag"><a href="{{ BASE_PATH }}{{ site.categories_path }}#{{ category }}-ref">{{ category | join: "/" }}</a></li>
         {% endfor %}
         <li class="pull-right"></span><i class="fa fa-folder-open"></i></li>
      </ul>

      <div class="blog-content">
         {{ content }}
      </div>
      
      <hr />
      
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
         <a class="addthis_button_twitter"></a>
         <a class="addthis_button_google_plusone_share"></a>
         <a class="addthis_button_linkedin"></a>
         <a class="addthis_button_facebook"></a>
         <a class="addthis_button_compact"></a><a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-516d4b686f218f23"></script>
      <!-- AddThis Button END -->

      <div id="disqus_thread" style="margin-top:15px;"></div>
      <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'dandelionproject'; // required: replace example with your forum shortname
      
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
         var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
         dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
         (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
      <hr>
   
      <div class="pagination">
         <ul>
         {% if page.previous %}
           <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
         {% else %}
           <li class="prev disabled"><a>&larr; Previous</a></li>
         {% endif %}
           <li><a href="{{ BASE_PATH }}{{ site.archive_path }}">Archive</a></li>
         {% if page.next %}
           <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
         {% else %}
           <li class="next disabled"><a>Next &rarr;</a>
         {% endif %}
         </ul>
      </div>
   </div>
</div>