--- 
layout: component 
module: webanalytics
cookiePath: /webanalytics 
---
<div class="container-fluid container-component">
   <div class="row-fluid">
      <div class="span3">
         <div class="well sidebar-nav">

            <ul class="nav nav-list">
               <li class="nav-header">Overview</li>
               <li {% if page.menu== 'home' %} class="active"{% endif %}>
                  <a href="/webanalytics"><i class="icon-home"></i> Home</a>
               </li> 
            </ul>
         </div>
      </div>
      <div class="span9">
         <div class="row-fluid" style="min-height:500px;">
            {% include layout/breadcrumbs.html %}
            {{ content }}
         </div>
         <div class="row-fluid">
            <a href="/contributing.html#{{ page.url }}" title="Improve this page!" class="btn btn-mini" style="float:right;"><i class="icon icon-edit"></i> Improve this page</a>
         </div>
      </div>
   </div>
</div>