---
layout: component
component: core
---

<div class="row margin-top-20">
  <div class="col-md-12">
    <h2>{{ site.data.components[page.component].name }}</h2>
    <p>Dandelion-Core is the foundation of the Dandelion framework. It includes the whole
      mechanics to handle static and dynamic web assets such as JavaScript or CSS.</p>
  </div>
</div>

<div class="row margin-top-30">
  <div class="col-md-12 text-center">
    <a href="{{ site.data.components[page.component].sources_url }}" title="Sources (GitHub)"><i class="fa fa-github fa-4x fa-border"></i></a>
    <a href="{{ site.data.components[page.component].issues_url }}" title="Issues (GitHub)"><i class="fa fa-bug fa-4x fa-border"></i></a>
    <a href="{{ site.data.components[page.component].ci_url }}" title="Continuous Integration (Jenkins)"><i class="fa fa-cogs fa-4x fa-border"></i></a>
    <a href="{{ site.data.components[page.component].forum_url }}" title="Forum (Nabble)"><i class="fa fa-comments-o fa-4x fa-border"></i></a>
    <a href="{{ site.data.components[page.component].chat_url }}" title="Chat (Gitter)"><i class="fa fa-weixin fa-4x fa-border"></i></a>
  </div>
</div>

<div class="row margin-top-20">
  <div class="col-md-12">
    <h3>Features</h3>
    <ul>
      <li>asset organization in bundles, with several possible asset locations such as <code>webapp</code>, <code>webjar</code>, <code>remote</code>, <code>classpath</code>, ...</li>
      <li>asset processing, such as minification</li>
      <li>asset caching, both server and client side</li>
      <li>asset versioning, manual or automatic via different strategies</li>
      <li>Thymeleaf expression processing in external JavaScript assets</li>
    </ul>
  </div>
</div>

<div class="row margin-top-20">
  <div class="col-md-12">
    <h3>Latest releases</h3>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Version</th>
          <th>Date</th>
          <th>Documentation</th>
        </tr>
      </thead>
      <tbody>
        {% for version in site.data.components[page.component].versions %}
        <tr>
          <td>{{ version.number }}</td>
          <td>{{ version.date }}</td>
          <td>
            {% if version.displayDocs == null || version.displayDocs == true %}
              {% if version.docs != null and version.docs contains 'html' %}
              <a href="{{ version.number | append: '/docs/html/' | prepend: site.baseurl }}">Docs (HTML)</a>
              {% endif %}
              {% if version.docs != null and version.docs contains 'pdf' %}
              | <a href="{{ version.number | append: '/docs/pdf/' | prepend: site.baseurl }}">Docs (PDF)</a>
              {% endif %} 
              | <a href="{{ version.number | append: '/api/' | prepend: site.baseurl }}">API</a>
            <br />
            {% endif %}
            <a href="{{ version.number | append: '/changelog/' | prepend: site.baseurl }}">Changelog</a>
            {% if version.extraDocs != null %}
              <br />
              {% for extraDoc in version.extraDocs %}
              <a href="{{ version.number | append: '/docs/' | append: extraDoc.url | prepend: site.baseurl }}">{{ extraDoc.name }}</a>
              <br />
              {% endfor %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p>
      <a href="{{ '/components/' | append: site.data.components[page.component].id | append:'/releases' | prepend: site.baseurl }}">Older releases</a>
    </p>
  </div>
</div>

<div class="row margin-top-20">
  <div class="col-md-12">
    <h3>Samples</h3>
    <p>
      All sample applications below are based on the latest release: {{ site.data.components[page.component].versions[0].number }}.
    </p>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th style="width:20%">Access</th>
        </tr>
      </thead>
      <tbody>
        {% for sample in site.data.components[page.component].samples | sort:'name' %}
        <tr>
          <td>{{ sample.name }}</td>
          <td>
            <a title="Sources (GitHub)" href="{{ site.data.components[page.component].samples_url | append: '/tree/' | append: site.data.components[page.component].versions[0].number | append: '/' | append: sample.name }}"><i class="fa fa-2x fa-github"></i></a>
            {% if sample.docker_url %}
            &nbsp;<a title="Image (Docker)" href="{{ sample.docker_url }}"><i class="fa fa-2x fa-docker"></i></a>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
